fastapi
google-api-python-client
gradio
huggingface-hub
imbalanced-learn
ipython
joblib
lightgbm
matplotlib
mlflow
numpy
pandas
plotly
pyngrok
pytest
python-multipart
scikit-learn
scipy
seaborn
shap
uvicorn[standard]
xgboost