# Framework da API
fastapi

# Servidor para rodar a API
uvicorn[standard]

# Para carregar variáveis de ambiente (boa prática)
python-dotenv

# Para fazer a chamada à API do OpenWeather
requests

# Para carregar o modelo .pkl
joblib

# Biblioteca do modelo (RandomForest) e suas dependências
scikit-learn

# Para criar o DataFrame que o modelo recebe
pandas

# Dependência do pandas e scikit-learn
numpy